Source: plasma-widget-xbmcremote
Section: x11
Priority: optional
Maintainer: Michael Zanetti <michael_zanetti@gmx.net>
Build-Depends: debhelper (>= 8.0.0),
               qt4-default,
               cmake,
               qtbase5-dev,
               kdelibs5-dev,
               pkg-kde-tools,
               libqt4-dev,
               libqjson-dev,
Standards-Version: 3.9.3

Package: plasma-widget-xbmcremote
Architecture: i386 amd64
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: XBMC remote control application
  An application to control your XBMC box right from your Plasma panel. Supports
  browsing the libarary, WakeOnLan, controlling Music, Videos, Pictures and LiveTV,
  and much more.
