#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_auto_configure:
	mkdir plasma
	cd plasma && cmake ..

override_dh_auto_build:
	cd plasma && make

override_dh_clean:
	dh_clean
	rm -rf plasma

override_dh_install:
	dh_install --fail-missing

%:
	dh $@ --parallel

