[Desktop Entry]
Name=Xbmcremote
Comment=Controller for Xbmc
Icon=battery
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_xbmcremote

X-KDE-PluginInfo-Author=Michael Zanetti
X-KDE-PluginInfo-Email=mzanetti@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=xbmcremote
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-Plasma-NotificationArea=true
