Source: xbmcremote
Section: x11
Priority: optional
Maintainer: Michael Zanetti <michael_zanetti@gmx.net>
Build-Depends: debhelper (>= 8.0.0),
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
Standards-Version: 3.9.3

Package: xbmcremote
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qt-components-ubuntu,
Description: XBMC remote control application
  An application to control your XBMC box right from your Ubuntu phone. Supports
  browsing the libarary, WakeOnLan, controlling Music, Videos, Pictures and LiveTV,
  and much more.
