Source: xbmcremote
Section: x11
Priority: optional
Maintainer: Michael Zanetti <michael_zanetti@gmx.net>
Build-Depends: debhelper (>= 8.0.0),
               qt4-default,
               qt5-qmake,
               qt4-qmake,
               qtbase5-dev,
               qtdeclarative5-dev,
               libgles2-mesa-dev,
               cmake,
               kdelibs5-dev,
               pkg-kde-tools,
               libqt4-dev,
               libqjson-dev,
Standards-Version: 3.9.3

Package: xbmcremote
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         qt-components-ubuntu,
Description: An application to blabla
  An application to blabla

Package: plasma-widget-xbmcremote
Architecture: i386 amd64
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: An application to blabla
  An application to blabla
