#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_auto_configure:
	qmake --version
	qmake xbmcremote.pro CONFIG+=package

override_dh_install:
	dh_install --fail-missing

%:
	dh $@ --parallel

