#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_auto_configure:
	mkdir ubuntu-touch
	cd ubuntu-touch && qmake -qt=qt5 ../xbmcremote.pro CONFIG+=package

override_dh_auto_build:
	cd ubuntu-touch && make

override_dh_clean:
	dh_clean
	rm -rf ubuntu-touch

override_dh_install:
	dh_install --fail-missing

%:
	dh $@ --parallel

