#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

override_dh_auto_configure:
	mkdir ubuntu-touch
	mkdir plasmoid
	cd ubuntu-touch && qmake -qt=qt5 ../xbmcremote.pro CONFIG+=package
	cd plasmoid && cmake ..

override_dh_auto_build:
	cd ubuntu-touch && make
	cd plasmoid && make

override_dh_clean:
	dh_clean
	rm -rf ubuntu-touch
	rm -rf plasmoid

override_dh_install:
	dh_install --fail-missing

%:
	dh $@ --parallel

