[Desktop Entry]
Name=Xbmcremote
Icon=battery
Type=Service

X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-KDE-PluginInfo-Author=Michael Zanetti
X-KDE-PluginInfo-Email=mzanetti@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=xbmcremote
X-KDE-PluginInfo-Version=1

X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-MainScript=ui/main.qml
X-Plasma-ConfigPlugins=
X-Plasma-NotificationArea=true

