[Desktop Entry]
Type=Application
Name=Xbmcremote
Comment=XBMC Remote control
Exec=./xbmcremote %u
Terminal=false
Icon=xbmcremote.svg
X-Ubuntu-Touch=true
